@font-face {
  font-family: "JetBrainsMono";
  src: url("assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Body Styles */
body {
  background-color: black;
  color: #ecf0f1;
  font-family: "JetBrainsMono", Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Particles Background */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  z-index: -1;
}

#title {
  text-align: center;
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social-icons img {
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 30%;
  transition: background-color 0.3s, transform 0.3s;
}

.social-icons img:hover {
  cursor: pointer;
  background-color: rgb(22, 22, 22);
}

/* Audio Time Control */
#time-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  color: rgb(255, 128, 128);
}

#progress-bar {
  width: 300px;
  height: 8px;
  background-color: rgb(100, 100, 100);
  border-radius: 5px;
}

.time {
  font-size: 1em;
  margin-top: 5px;
}

#audio-controls {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#audio-controls img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}

#audio-controls img:hover {
  transform: scale(1.1);
}

#footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: gray;
  font-size: small;
}

a {
  text-decoration: none;
  color: inherit;
}
